<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>People and Famlies of the Bible</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/biblepeople.css"  />
 </head>
  <body>
    <div id="page">

      <div id="content">
        <div id="header">
          <h1>Bible People</h1>
          <h2>People and Famlies of the Bible</h2>
        </div>


<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>


     </div>
      
      <div id="footer">&nbsp;</div>
    </div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/javascripts/admin.js"></script>

  </body>
</html>